include _variable.pug
doctype html
html(lang="jp")
  head
    //-meta
    include _meta.pug

    block title
      title #{globalSiteName}
    block css
      link(rel="stylesheet" href="css/style.css")
  body
    block content
    block js
      script(src="js/script.js")
