//  -------------------------------------- imgGrid style */

// setting
$imgGrid-post: imgGrid-post;

// bottum
.imgGrid--btn {
  display: block;
  background-color: #{$gray001};
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #{$gray001};
  border-radius: 5px;
  text-align: center;
  width: 60%;
  padding: 13px 16px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  font-size: 1.8rem;
  color: #fff;

  &:hover {
    opacity: 0.8;
  }
}

// layout
.imgGrid-block {
  width: 90%;
  margin: 0 auto;
  @include clearfix;

  .#{$headding}1 {
    margin-bottom: 28px;
  }

  .#{$headding}2 {
    padding-bottom: 15px;
    font-size: 24px;
    font-size: 2.4rem;
    color: #{$gray008};
    text-align: center;
  }

  .#{$headding}3 {
    padding-bottom: 20px;
    font-size: 20px;
    font-size: 2.0rem;
    color: #{$gray008};
    text-align: center;
  }

  .imgGrid--lead {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.5;
    padding-bottom: 30px;
    text-align: center;
  }

  &--inner {
    width: 73%;
    padding-left: 26%;
    padding-bottom: 98px;
    margin: 0 auto;
    text-align: center;

    //* Mediaqueries *
    @include mq(mdMax) {
      width: 95%;
      padding: 10px 10px 100px 10px;
      margin: 0 auto;
      box-sizing: border-box;
    }
  }

  //* Mediaqueries *
  @include mq(mdMax) {
    .#{$headding}2 {
      font-size: 18px;
      font-size: 1.8rem;
    }
  }
}

##{$imgGrid-post} {
  position: relative;
  min-height: 200px;
  width: 100%;
  text-align: center;

  .#{$imgGrid-post}_list {
    position: relative;
    text-align: center;
    margin: 0 auto 30px auto;

    //* Mediaqueries *
    @include mq(mdMax) {
      width: 100%;
    }

    @include clearfix
  }

  .#{$imgGrid-post}_item {
    display: block;
    position: absolute;
    margin: 0 5px 10px;
    width: calc(25% - 14px);

    //* Mediaqueries *
    @include mq(mdMax) {
      width: calc(50% - 14px);
    }

    text-align: center;

    & a {
      display: block;
      padding: 4px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 3px;
      background: #ffffff;
      border: 1px solid #{$gray001};
    }
  }

  .#{$imgGrid-post}-image {
    width: 100%;
    line-height: 0;
    font-size: 0;
    vertical-align: bottom;
  }

  .#{$imgGrid-post}-closeBtn {
    @extend .imgGrid--btn;
    background-color: transparent;
    color: #{$gray010};

    .fas {
      margin-right: 5px;
    }
  }

  &__messe {
    padding-top: 100px;
    padding-bottom: 80px;
    font-size: 20px;
    font-size: 2.0rem;
    text-align: center;
    min-height: 200px;
    box-sizing: border-box;
  }
}

// side
.imgGrid-nav {
  width: 23%;
  float: left;

  .#{$headding}3 {
    padding-bottom: 5px;
  }

  //* Mediaqueries *
  @include mq(mdMax) {
    width: 100%;
    float: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    &.is-open {
      overflow: hidden;
      height: 100%;
      .#{$headding}3 {
        animation: fadeIn 1s ease-in-out 0s 1 normal;
      }
    }
  }

  &--triggerIcon {
    position: absolute;
    width: 25px;
    height: 25px;
    display: none;
    cursor: pointer;
    z-index: 10;

    & span {
      width: 100%;
      height: 2px;
      margin-top: 10px;
      position: relative;
      display: block;
      background-color: #333;

      .is-open & {
        transition: all .4s;
        transform: rotate(45deg);
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        left: 0;
      }

      &::before {
        top: -10px;

        .is-open & {
          display: none;
        }
      }

      &::after {
        top: 10px;

        .is-open & {
          top: 0;
          transform: rotate(-90deg);
        }
      }
    }

    //* Mediaqueries *
    @include mq(mdMax) {
      display: block;
      left: 15px;
      top: 23px;
    }

    @include mq(sm) {
      width: 18px;
      height: 18px;
      left: 8px;
      top: 8px;

      & span {
        margin-top: 8px;

        &::before {
          top: -8px;
        }

        &::after {
          top: 8px;

          .is-open & {
            top: 0;
          }
        }
      }
    }
  }

  &--inner {
    width: 100%;
    height: 100%;

    //* Mediaqueries *
    @include mq(mdMax) {
      display: none;
      &::before{
          content: "";
          display: block;
          width: 100%;
          height: 120%;
          position: absolute;
          top:-60px;
          left: 0;
          background-color: rgba(255, 255, 255, 0.8);
          transform: skewY(-20deg);
          z-index: -1;
        }
      .is-open & {
        position: relative;
        display: block;
        padding-top: 40px;
        padding-bottom: 40px;
        box-sizing: border-box;
        &::before{
          animation: diagonalDisplay 0.3s ease-in 0s 1 normal;
        }
      }
    }
  }

  &--btn {
    @extend .imgGrid--btn;
    display: block;
    width: 100%;
    margin: 0 auto 5px auto;
    box-sizing: border-box;

    &:hover {
      opacity: 1;
      border-color: #{$themeColor};
      background-color:#{$themeColor};
    }

    &.is-active {
      border-color: #{$themeColor};
      background-color:#{$themeColor};
    }

    //* Mediaqueries *
    @include mq(mdMax) {
      padding: 8px 16px;
      font-size: 14px;
      font-size: 1.4rem;
    }
  }

  &--btnArea {
    padding-bottom: 20px;

    &.genre {

      .imgGrid-nav--btn:nth-child(1):hover,
      .imgGrid-nav--btn:nth-child(1).is-active {
        // Street
        border-color: #ebad1e;
        background-color: #ebad1e;
      }

      .imgGrid-nav--btn:nth-child(2):hover,
      .imgGrid-nav--btn:nth-child(2).is-active {
        // Life
        border-color: #77c788;
        background-color: #77c788;
      }

      .imgGrid-nav--btn:nth-child(3):hover,
      .imgGrid-nav--btn:nth-child(3).is-active {
        // Dogs
        border-color: #1c70ef;
        background-color: #1c70ef;
      }
    }

    &.camera {

      .imgGrid-nav--btn:nth-child(1):hover,
      .imgGrid-nav--btn:nth-child(1).is-active {
        // FUJIFILM X-T1
        border-color: #008c6d;
        background-color: #008c6d;
      }

      .imgGrid-nav--btn:nth-child(2):hover,
      .imgGrid-nav--btn:nth-child(2).is-active {
        // RICOH GR
        border-color: #{$black001};
        background-color: #{$black001};
      }

      .imgGrid-nav--btn:nth-child(3):hover,
      .imgGrid-nav--btn:nth-child(3).is-active {
        // OLYMPUS PEN EP-3
        border-color: #08107b;
        background-color: #08107b;
      }
    }

    //* Mediaqueries *
    @include mq(mdMax) {
      width: 80%;
      margin: 0 auto;
      .is-open &{
        animation: fadeIn 1s ease-in-out 0s 1 normal;
      }
    }
  }
}


// modal
.modal-open {
  position: relative;
  overflow: hidden;
}

#overLay {
  position: fixed;
  width: 100%;
  min-height: 100%;
  height: 120%;
  z-index: 100;
  top: 0;
  left: 0;

}

#overLay-inner {
  width: 100%;
  height: 120%;
  background-color: rgba(165, 165, 165, 0.5);
  cursor: pointer;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: calc(50% - 799px / 2);
  transform: translateY(-50%);
  max-width: 799px;
  width: 95%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 6px -2px #{$gray006};
  box-sizing: border-box;
  z-index: 110;

  .madal-img {
    width: 100%;
  }

  //* Mediaqueries *
  @include mq(mdMax) {
    left: calc(50% - 95% / 2);
  }
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 18px;
  height: 22px;
  cursor: pointer;

  .fas {
    font-size: 22px;
    font-size: 2.2rem;
    color: #333;
  }

  //* Mediaqueries *
  @include mq(mdMax) {
    top: -24px;
    right: 0px;
  }
}

.modal-contetns {
  padding: 28px;

  //* Mediaqueries *
  @include mq(mdMax) {
    padding: 10px;
  }
}


@keyframes diagonalDisplay{
  0%{
    height: 0%;
  }
  100%{
    height: 120%;
  }
}


@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
