@charset "utf-8";
// -------------------------------------------------------
// Task CSS
// -------------------------------------------------------

// ---------------------------------------- setting
$pagename:task;

// ---------------------------------------- common

.task__link:link,
.task__link:visited,
.task__link:hover {
  color: #{$gray008};
  text-decoration: none;
}

.task-link:hover {
  opacity: 0.6;
}

input,
button {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
// ------------------------------------ header
#task-header {
  display: table;
  width: 100%;
  height: 40px;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  .block-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #{$gray009};
  }
  .#{$headding}1 {
    color: #{$black001};
    font-size: 30px;
    font-size: 3.0rem;
    //* Mediaqueries *
    @include mq(mdMax) {
      font-size: 26px;
      font-size: 2.6rem;
    }
    //* Mediaqueries *
    @include mq(sm) {
      font-size: 20px;
      font-size: 2.0rem;
    }
  }
}
