extends _include/_layout.pug
block title
    title Get Photographs from API | #{globalSiteName}
block css

    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
block content
    header#task-header
      .block-inner
        h1.headdingLevel1 Get Photographs from API.
          br
          | And Display to use JS library of Grid Layout.
    section#app
      section.imgGrid-block
        section.imgGrid-nav
          div.imgGrid-nav--triggerIcon
            span
          div.imgGrid-nav--inner
            ul.imgGrid-nav--btnArea
              li.imgGrid-nav--btn.is-active(data-filter="All") All
            h3.headdingLevel3 Genre
            ul.imgGrid-nav--btnArea.genre
              li.imgGrid-nav--btn(data-filter="Street") Street
              li.imgGrid-nav--btn(data-filter="Life") Life
              li.imgGrid-nav--btn(data-filter="Dogs") Dogs
            h3.headdingLevel3 Camera
            ul.imgGrid-nav--btnArea.camera
              li.imgGrid-nav--btn(data-filter="Fuji") FUJIFILM X-T1
              li.imgGrid-nav--btn(data-filter="GR") RICOH GR
              li.imgGrid-nav--btn(data-filter="Olympus") OLYMPUS PEN EP-3
        div.imgGrid-block--inner
          p.imgGrid--lead 「Genre」「Camera」ボタンで絞り込みでき、写真をクリックすると大きな写真が表示されます。
          h2#js-titleJanle.headdingLevel2 All
          div#imgGrid-post
            ul.imgGrid-post_list
            p.imgGrid-post-moreBtn.imgGrid--btn.display-none More
            p.imgGrid-post-closeBtn.display-none
              i.fas.fa-times
              | Close
          p#imgGrid-post__messe.display-none There is no photography.

block js
      script(src="js/script.js")
