///* =====================================================================


  //variable


//===================================================================== */

// -------------------------------------- Headding //

$headding:headdingLevel;

// -------------------------------------- Color //
$themeColor: #0730a6;
$accentColor: #000;
//$subColor:;

// non-colored Gray
$gray001 :#a9a9a9;
$gray002: #999999;
$gray003: #888888;
$gray004: #777777;
$gray005: #666666;
$gray006: #555555;
$gray007: #444444;
$gray008: #333333;
$gray009: #eeeeee;
$gray010: #cccccc;
$gray011:  #808080;

// non-colored Black
$black001: #000;
$black002: #111111;
$black003: #222222;
